{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Khôi Phục Mật Khẩu</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                {% if error %}
                    <i style="color: red;">{{ error }}</i>
                {% endif %}
                <input type = "submit" value = "Khôi Phục Mật Khẩu" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>

{% endblock %}